.filterContainer {
  display: "flex";
  align-items: "center";
  gap: "20px";
}

.box {
  font-size: 30px; /* Adjust font size as needed */
  padding: 15px; /* Add padding to increase size */
}

.button {
  padding: 10px;
}

.customButton {
  font-size: 16px; /* Increase font size of the button text if needed */
  padding: 12px 24px; /* Adjust padding to make the button larger */
}
